@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}

html,body{
    width:100%;
    height:100%;
    background-color: black;
}


nav{
    position: fixed;
    top:0;
    background-color: rgba(0, 0, 0, 0.833);
    backdrop-filter: blur(15px);
    width:100%;
    height:6vh;
    z-index: 3;
}

.container{
    /* background-color: rgba(250, 235, 215, 0.208); */
    position: absolute;
    top:0;
    left:50%;
    transform: translate(-50%,0);
    min-width: 67vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container svg{
    fill:white;
}

.container a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.71);
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 300;
}

.container svg,a{
    cursor: pointer;
}

.overlay{
    width:100vw;
    height:6vh;
    position: absolute;
    top:6%;
    left:0;
    z-index: 2;
    background-color:#1D1D1F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay h5{
    color:white;
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 200;
}

.overlay h5 a{
    text-decoration: none;
    color:#0368CF;
}

main{
    position: absolute;
    top:12%;
    left:0;
    display: flex;
    width:100vw;
    height: auto;
    /* grid-template-columns: 100vw;
    grid-template-rows: 88vh 90vh 90vh; */
    background-color: #ffffff;
    /* row-gap: 1.5vh; */
    flex-direction: column;
}

main .sec{
    margin-bottom:10px;
    height:88vh;
}

main .sec:nth-child(1)
{
    background-image: url(images/sec1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
main .sec:nth-child(2)
{
    background-image: url(images/sec2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
main .sec:nth-child(3)
{
    background-image: url(images/sec3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.sec h1,h3,p{
    color:white;
    font-family: 'Lato';
}

section h1{
    text-align: center;
    position: relative;
    top:6%;
    font-weight: 570;
    font-size: 54px;
}

section h3{
    text-align: center;
    position: relative;
    top:5%;
    font-weight: 370;
    font-size: 25px;
}

.sec:nth-child(3) h3{
    color:black;
}

.sec:nth-child(3) img{
    position: relative;
    top:6%;
    left:42%;
}

.sec button{
    font-size:17px;
    padding:11px 18px;
    outline:none;
    border-radius: 50px;
    position: relative;
    top:65%;
    left:42%;
    margin-left:10px;
    transition: .3s;
}

.sec .a{
    color:white;
    border: none;
    background-color: #0077ED;
}

.sec .b{
    color:#0077ED;
    border: none;
    background-color:transparent ;
    border: 1px solid #0077ED;
}

.sec p{
    display: inline-block;
    position: relative;
    top:72%;
    left:26%;
    font-size: 14px;
    font-weight: 100;
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.466);
}

.sec:nth-child(3) button{
    position: relative;
    top:7%;
    left:42%;
}

.b:hover{
    background-color: #0077ED;
    color:white;
}

button:hover{
    cursor: pointer;
}
footer{
    background-color: #F5F5F7;
    width:100vw;
    height:75vh;
}

footer p{
    color: rgba(0, 0, 0, 0.499);
    text-align: justify;
    font-size: 12px;
    font-family: 'Lato';
}

footer .para{
    margin:20px auto;
    width:63vw;
    border-bottom:1px solid rgba(0, 0, 0, 0.305);
    padding-bottom:25px;
}

footer .para .ps{
    margin-bottom: 10px;
}

footer .more{
    margin:20px auto;
    width:63vw;
    border-bottom:1px solid rgba(0, 0, 0, 0.305);
    padding-bottom:25px;
}

footer .end{
    margin:20px auto;
    width:63vw;
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    color:rgba(0, 0, 0, 0.499);
}

.end .links a{
    color:rgba(0, 0, 0, 0.499);
    text-decoration: none;
}

.end .loc:hover{
    text-decoration: underline;
    cursor: pointer;
}

.end .links{
    position: absolute;
    left:40%;
}
